<div class="container-fluid">
  <!-- <div class="panel-group" id="accordion"> -->
  <div class="title">
    <h1>Operational KPIs</h1>
  </div>
  <div class="panel add-goal">
    <div class="panel-heading"><span style="cursor:pointer;" data-toggle="collapse" href="#collapse1">Add measures</span>
      <span class="pull-right" style="cursor:pointer" data-toggle="tooltip" data-placement="auto" title="collapse">
        <i class="glyphicon glyphicon-collapse-up" data-toggle="collapse"  href="#collapse1"></i>
      </span>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <form [formGroup]="measureForm" (submit)="submitMeasure()">
          <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-6">
              <div class="form-group">
                <label class="control-label" for="year">Plan Year:</label>
                <select id="year" name="year" class="form-control" formControlName="cycleId" (ngModelChange)="getObjective($event)">
                    <option *ngFor="let c of cycles;let y = index;" [value]="c.cycleId">{{c.planYear}}: [{{c.startYear}} To {{c.endYear}}] : {{c.description}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Select Goal:</label>
                <select class="form-control" id="sel1" formControlName="objectiveId" (ngModelChange)="getInitiative($event)">
                <option *ngFor="let objective of objectives;let i=index;" [value]="objective.goalId">{{i+1}}.{{objective.goal}}</option>
              </select>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Select Initiative:</label>
                <select class="form-control" id="sel1" formControlName="initiativeId" (ngModelChange)="getActivities($event)">
                <option *ngFor="let initiative of initiatives;let j=index;" [value]="initiative.initiativeId">{{j+1}}.{{initiative.initiative}}</option>
              </select>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Select Activity:</label>
                <select class="form-control" id="sel1" formControlName="activityId">
                <option *ngFor="let activity of activities;let k=index;" [value]="activity.activityId">{{k+1}}.{{activity.activity}}</option>
              </select>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Operational KPI</label>
                <textarea class="form-control" rows="3" formControlName="opi"></textarea>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Select MeasureUnit</label>
                <select class="form-control" formControlName="measureUnit">
                <option value="" disabled selected>Choose Measurement Unit</option>
                <option value="percentage">Percent</option>
                <option value="number">Decimal</option>
                <option value="rate">Rate</option>
              </select>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Select Direction</label>
                <select class="form-control" formControlName="direction">
                <option value="" disabled selected>Choose Direction of measureUnit</option>
                <option value="true">Positive</option>
                <option value="false">Negative</option>
              </select>
              </div>
            </div>
            <!-- <div class="col-lg-6 col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Base Line</label>
                <input type="number" min="0" step="1" class="form-control" formControlName="baseline">
              </div>
            </div> -->
            <div class="col-lg-6 col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Frequency of Measurement</label>
                <select class="form-control" formControlName="frequencyId">
                  <option value="1">Annually</option>
                  <option value="2">Semi-Annual</option>      
                  <option value="3">Quarterly</option> 
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Evidence Forms</label>
                <select class="form-control" formControlName="evidanceFormId">
                <option value="1" *ngFor="let form of evidenceForms;let f = index;" [value]="form.formId">{{form.form}}</option>
              </select>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Remarks</label>
                <textarea class="form-control" rows="3" formControlName="remarks"></textarea>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
              <div class="form-group">
                <label>Help Text</label>
                <textarea class="form-control" rows="3" formControlName="helpText"></textarea>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12 form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="approvalRequired" ><span style="color:red;">*</span>
                Approval Required
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-success btn-outline-success" [disabled]="measureForm.invalid">Submit</button>
        <button type="button" class="btn btn-danger btn-outine-danger" (click)="enableFields(); isUpdating = false">Clear</button>
      </div>
    </div>
  </div>

  <div class="panel detail-plan">
    <div class="panel-heading"><span style="cursor:pointer;" data-toggle="collapse" href="#collapse2">Proposed Operational Performance Indicators</span>
      <select id="year" name="year" class="form-control pull-right" [(ngModel)]="defaultCycle" (ngModelChange)="getMeasure()" style="width:auto;height: auto;padding: 0px;">
          <option *ngFor="let c of cycles;let y = index;" [value]="c.cycleId" [attr.selected]="c.defaultCycle">{{c.planYear}} : [{{c.startYear}} To {{c.endYear}}]</option>
      </select>
    </div>
    <div id="collapse2" class="panel-collapse collapse in" *ngIf="goalsCopy.length">
      <div class="d-flex border flex-header ">
        <div class="p-2 border">
          Goal
          <span class="search">
            <input type="text" name="search" (keyup)="search($event)"  placeholder="Search..">
          </span>
        </div>
        <div class="p-3 border">
          <div class="d-flex">
            <div class="p-2 border">
              Initiative
              <span class="search">
                <input type="text" name="search" (keyup)="searchInitiative($event)"  placeholder="Search..">
              </span>
            </div>
            <div class="p-3 border">
              <div class="d-flex">
                <div class="p-2 border">
                  Activities
                  <span class="search">
                    <input type="text" name="search" (keyup)="searchActivity($event)"  placeholder="Search..">
                  </span>
                </div>
                <div class="p-3 border">
                  <div class="d-flex">
                    <div class="p-2" style="flex-basis:30%;">
                      OPI
                      <span class="search">
                        <input type="text" name="search" (keyup)="searchOpi($event)"  placeholder="Search..">
                      </span>
                    </div>
                    <div class="p-2" style="flex-basis:25%;">
                      Detail
                    </div>
                    <div class="p-2" style="flex-basis:15%;">
                      Departments
                    </div>
                    <div class="p-2" style="flex-basis:5%;">
                      Edit
                    </div>
                    <div class="p-2" style="flex-basis:5%;">
                      Delete
                    </div>
                    <div class="p-2 text-center " style="flex-basis:10%;">
                      Assign
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex margin-1" *ngFor="let goal of goals;let i = index;">
        <div class="p-2 border">
          {{ goal.goal }}
        </div>
        <div class="p-3 border">
          <div class="d-flex" *ngFor="let initiate of goal.initiatives;let j=index">
            <div class="p-2 border-bottom">
              {{initiate.initiative}}
            </div>
            <div class="p-3 border no-bottom-border">
              <div class="d-flex" *ngFor="let activit of initiate.activities;let k=index">
                <div class="p-2 border-bottom">
                  {{activit.activity}}
                </div>
                <div class="p-3">
                  <div class="d-flex height-100" *ngFor="let msr of activit.opis;let l=index">
                    <div class="p-2 border no-bottom-border" style="flex-basis:30%;">
                      {{msr.opi}}
                    </div>

                    <div class="p-2 border no-bottom-border" style="flex-basis:25%;">
                      <div class="d-flex" style="flex-direction: column;">
                        <div class="p-2">
                          <label>Frequency :</label>{{msr.frequency}}
                        </div>
                        <div class="p-2">
                          <label>Cost :</label>10000
                        </div>
                        <div class="p-2">
                          <label>MeasureUnit :</label>{{msr.measureUnit}}
                        </div>
                        <div class="p-2">
                          <label>Direction :</label>{{direction[msr.direction]}}
                        </div>
                      </div>
                    </div>
                    <div class="p-2 border no-bottom-border" style="flex-basis:15%;">
                      <ul style="list-style:none;padding:0px;">
                        <li *ngFor="let dept of msr.assignedDepartments;let d = index">{{dept.department}}, </li>
                      </ul>
                      <span *ngIf="!msr.assignedDepartments.length">None</span>
                    </div>

                    <div class="p-2 border-bottom" style="flex-basis:5%;">
                      <a (click)="updateMeasure(goal,initiate,activit,msr)" href="#collapse1">
                        <i class="glyphicon glyphicon-edit" style="cursor:pointer;" ></i>
                      </a>
                    </div>
                    <div class="p-2 border-bottom" style="flex-basis:5%;">
                      <i style="cursor:pointer;" class="glyphicon glyphicon-remove" (click)="deleteMeasure(msr.opiId,activit.opis,l)"></i>
                    </div>
                    <div class="p-2 border-bottom" style="flex-basis:10%;">
                      <a data-toggle="modal" data-target="#myModal" (click)="selectedMeasure=msr;next=false;prev=true;checkAssignDept(msr.assignedDepartments);">Assign</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center" *ngIf="!goals.length" style="padding-top: 5px;">No OPI Added Yet...</p>
  </div>
  <!-- </div> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Set targets</h4>
        </div>
        <div class="modal-body" *ngIf="selectedMeasure">
          <div class="row" *ngIf="prev">
            <div class="col-sm-6">
              <div class="radio">
                <label><input type="radio" name="optradio"> All(Institutional Units)</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio">Select</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="department-hierarchy">
                <b>Organisation Unit</b>
                <tree-view id="termSheetPopup" [treeData]="departments" [assignedDepartment]="selectedMeasure.assignedDepartments" (onSelected)="department($event)"></tree-view>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="next" style="margin: 15px 15px;">
            <form [formGroup]="departmentForm">
              <ul formArrayName="departmentsArray" style="list-style:none;padding-left: 0;">
                <b>Selected Departments</b>
                <li *ngIf="!selectedDepartments">None Selected</li>
                <li *ngFor="let dept of departmentForm.controls.departmentsArray.controls;let arr=index;" [formGroupName]="arr">
                  <table class="table">
                    <caption style="text-align: left;">{{dept.value.departmentName}}
                      <span class="input-group pull-right">
                        <div class="input-group-addon">BaseLine</div>
                        <input type="text" class="form-control" formControlName="baseline" style="width:25%" id="exampleInputAmount">
                      </span>
                    </caption>
                    <ng-container formArrayName="opiAnnualTargets">
                      <tr *ngFor="let array of dept.controls.opiAnnualTargets.controls;let op=index;" [formGroupName]="op">
                        <td>{{array.value.year}}</td>
                        <ng-container formArrayName="levels">
                          <td *ngFor="let level of array.controls.levels.controls;let l = index;" [formGroupName]="l">
                            <div class="input-group">
                              <div class="input-group-addon">Q{{level.value.quarterId}}</div>
                              <input type="text" class="form-control" id="exampleInputAmount" style="width: 50%;" formControlName="estimatedTargetLevel">
                            </div>
                          </td>
                        </ng-container>
                        <td>
                          <div class="input-group">
                            <div class="input-group-addon">Estimated Cost</div>
                            <input type="text" class="form-control" formControlName="estimatedCost" style="width:50%" id="exampleInputAmount">
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </table>
                </li>
              </ul>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" *ngIf="next" (click)="prev = true;next = false;">Prev</button>
          <button type="submit" class="btn btn-default" *ngIf="next" (click)="assign()">Save</button>
          <button type="button" class="btn btn-default" *ngIf="prev" (click)="prev=false;next=true;assignDepartment()">Next</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!--popup model-->
  <div class="modal fade" id="measureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">
          <p>You have successfully added a new Measure.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="collapse" href="#collapse1">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>