.department-hierarchy{
  overflow: scroll;
}
.modal-xl{
  width: 80%;
}
.p-3 {
  flex: 6 !important;
}
.p-3o{
  flex:2;
}

.table{
  margin-bottom: 0px;
 }
 .table .table {
  background-color: inherit;
 }

 .sibling-list-element{
  border-radius:6px;
  padding:15px;
  position:relative;
  margin-bottom: 5px;
}

.sibling-list-element .edit-btn{
  position: absolute;
  right: 0;
  z-index: 1;
}

.table>.table,.table>.table>.table{
  border-spacing: 0;
    border-collapse: collapse;
}

.middle{
  padding-bottom: 20px;
  padding-left: 0px;
}

.table-list li{
  text-align: center;
  margin-top: 10px;
}


.table-list li a{
  background: #563d7c;
  border-radius: 17px;
  padding: 6px;
  color:white!important;
}
