.department-hierarchy{
  overflow: scroll;
}
.modal-xl{
  width: 80%;
}



.table{
  margin-bottom: 0px;
 }
 .table .table {
  background-color: inherit;
 }

 .sibling-list-element{
  border-radius:6px;
  padding:15px;
  position:relative;
  margin-bottom: 5px;
}

.sibling-list-element .edit-btn{
  position: absolute;
  right: 0;
  z-index: 1;
}

.table>.table,.table>.table>.table{
  border-spacing: 0;
    border-collapse: collapse;
}

.middle{
  padding-bottom: 20px;
  padding-left: -1px;
}
.table-list{
  list-style:none;
  padding: 0px;
}

.table-list li{
  text-align: center;
  margin-top: 10px;
}


.table-list li a{
  background: var(--color-primary);
  border-radius: 17px;
  padding: 6px;
  color:var(--color0)!important;
}

.margin{
  margin:15px 15px;
}

.btn-plus{
  background: var(--color0);
  color:var(--color-primary);
  border-color:var(--color-primary);
}