.add-goal .panel-heading
{
    background: #1a4292;  /* fallback for old browsers */
    color: white;
    cursor: pointer;

}

.green-background{
    margin-top: -8px;
    background:   #20a3e8;
}

.btn:hover {
    color: #cf3238;
}

.panel-color .panel-heading{
    color: white;
    background: #1a4292;
}




.panel-color2 .panel-heading{
    color:white;
    background: #1a4292;
}

.color3{
    background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;    
}

.dropdown-menu>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #bc4c36;
}

.color4{
    background: var(--color-primary);;
    color:white;
}

.color4 .close{
    color:white;
}

.btn-submit{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    color: #ffffff;
    background-color: #259be5;
    border-color: #1ea5e9;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(233, 30, 99, 0.6)
}

.btn-submit:hover{
  color:white;
  background-color: #92FE9D;
}

.btn:active:focus, .btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.btn:focus{
outline: 0px auto -webkit-focus-ring-color;
outline-offset: 0px;
}



.btn-close{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    color: #ffffff;
    background-color: #cf3238;
    border-color: #cf3238;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(233, 30, 99, 0.6)
}

.btn-close:hover{
  color:white;
  background-color: #00C9FF;
}

.nav-card{
    background: white;
    margin: 15px;
    padding: 20px;
  }

.tab1{
    margin-top: 35px;
}

.edit-icon{
    cursor: pointer;
    transition: 0.6s;
}

.edit-icon:hover{
    color:red;
    font-size: 26px;
}

.margin-top{
    margin-top:-35px;
}

.nav-values li a{
    background: var(--color-text);
    border-radius: 15px;
    text-align: center;
    margin:10px;
    color:var(--color-primary);;
    font-weight: 600;
}

.nav-values li a:hover{
    background: var(--color-primary)!important;
    color: white!important;
}

.nav-values li :active{
    background: var(--color-primary)!important;
    color: white!important;
}

.nav-values li a:open{
    background: var(--color-primary)!important;
    color: white!important;   
}

.margin{
    margin-left:10px;
    color: var(--color-primary);
}

.margin:hover{
    background:var(--color-primary);
    color:white; 
}

/* cssmenu start */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid  var(--color-primary);
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background:  var(--color-primary);
}


.nav>li>a:hover{
    background: transparent;
}


/* cssmenu end */

.value-card{
    /* background: var(--color-text); */
    border-radius: 6px;
    position: relative;
    z-index: 1;
    border: 1px solid var(--color-primary);
    margin-bottom:30px;
    cursor: pointer;
}


.value-card .card-header{
    background: var(--color-text);
    width:auto;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    margin-top: -13px;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    color:var(--color-primary);
    
}

.value-card .card-header:hover{
    background:var(--color-primary);
    color: var(--color-text);
}

.value-card .card-body{
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 5px;
}

.value-card h5{
    font-weight: 700;
}

.card-body .icon-btn{
    margin-left: 10px;
    color: var(--color-primary);
    margin-top: -33px;
}

.card-body .icon-btn:hover{
    background: var(--color-primary);
    color: white;
    
}

.icon-add{
    /* margin-left: 10px; */
    color: var(--color-primary);
    margin-top: -33px;
    right: 5px;
}
.icon-add:hover{
    background: var(--color-primary);
    color: white;
}


div.value-card:hover button{
    display: block;
}
div.value-card button{
    position: absolute;
    display: none;
}

div.value-card button.icon-btn{
    float: right;
    right: 48px;
}
/* icon */
