<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading" style="color: red;">
          <h4>Add New Department</h4>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-heading" style="color: red;">
            <h4>Existing Departments</h4>
          </div>
          <div class="panel-body">
            
          </div>
        </div>       
    </div>    
  </div>
</div>