/* navigation loader*/

.loading-outer-overlay{
 height: 100vh;
 width: 100vw;
 background: #08080887;
 display: list-item;
 position: fixed;
 z-index: 1;
}
.loading-overlay{
 position: absolute;
 top: 50% !important;
 left: 50% !important;
 -webkit-transform: translate(-50%,-50%);
 transform: translate(-50%,-50%);
}
.loader {
 border: 16px solid #8e8576;
 border-radius: 50%;
 border-top: 16px solid blue;
 border-right: 16px solid green;
 border-bottom: 16px solid red;
 width: 120px;
 height: 120px;
 -webkit-animation: spin 2s linear infinite;
 animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
 0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}

.loading-overlay-sm{
 position: absolute;
 top: 80% !important;
 left: 50% !important;
 -webkit-transform: translate(-50%,-50%);
 transform: translate(-50%,-50%);
}

div[loader-box]{
	/* border:1px solid lightgray; */
    padding:2px;
    display: -webkit-inline-box;
}
div[loader-box] h1{ 
 margin: 2px;
 color: white;
}
.loader-small {
 margin-top: 5px;
 border: 10px solid white;
 border-radius: 50%;
 border-top: 10px solid #3498db;
 width: 35px;
 height: 35px;
 -webkit-animation: spin 2s linear infinite; /* Safari */
 animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
 0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}