/* cssmenu start */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid  #563d7c;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background:  #563d7c;
}


.nav>li>a:hover{
    background: transparent;
}


/* cssmenu */

.form-fill{
    padding: 65px;

}


.form-fill textarea{
    margin-top: 15px;
    padding: 29px 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-top: 14px;
}

.form-fill textarea:focus{
    border-color: #563d7c;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(86, 61, 124);
}

.margin{
    margin-right:15px;
    color: #563d7c;
    margin-top: 10px;
}

.margin:hover{
    background:#563d7c;
    color:white; 
}

.add-value{
  border: 2px solid #563d7c;
    margin-right: 15px;
}

.add-value .panel-body .control-label{
text-align:left;
color:#563d7c;
}

.add-value .close{
    color:#563d7c;
    opacity: 1;
}



.add-value .form-control:focus{
    border-color: #563d7c;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(86, 61, 124);  
}

.submit-btn{
    color: #cbbde2;
    background-color: #563d7c;
    border-color: #563d7c;
}


/* option2 */

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 14px 28px;
    border: 1px solid #e0e0e0;
    background: #cbbde2;
    color: #563d7c;
}
.the-fieldset {
    border: 1px solid #e0e0e0;
    padding: 10px;
}


/* option2 */
.add-value2{
  background: #563d7c;
  color: #cbbde2;
  margin-left: 15px; 
  margin-top: 65px;
}

.add-value2 .close{
  color:#cbbde2;
  opacity: 1;
}



.add-value2 .submit-btn{
    color: #563d7c;
    background-color: #cbbde2;
    border-color: #cbbde2;
  }

.margin1{
    margin-right:15px;
    color: #563d7c;
    margin-top: -35px;
    margin-left:-7px;
}

.margin1:hover{
    background:#563d7c;
    color:white; 
}


.add-value2 .form-control:focus{
  border-color: #563d7c;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(86, 61, 124);  
}