<div class="container-fluid">
  <div class="bg-nav">
    <div class="form-inline " style="margin-bottom: unset">
      <button type="button" class="btn btn-default pull-right margin" (click)="addNewInitiative()">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
      <div class="form-group dropdown-st">
        <label class="control-label">Strategic Plan</label>
        <select id="year" name="year" class="form-control" [(ngModel)]="defaultCycle" (ngModelChange)="getInitiative()" style="width:auto;height: auto;padding: 0px;">
          <option *ngFor="let c of cycles;let y = index;" [value]="c.cycleId" [attr.selected]="c.defaultCycle">{{c.planYear}}: [{{c.startYear}} To {{c.endYear}}]</option>
        </select>
      </div>
    </div>
  </div>
  <!-- new code for form-->
  <div class="card card-form" id="add-initiative" style="display:none">
    <form [formGroup]="initiativeForm" (submit)="submitInitiative()">
      <div class="card-header">
        <button type="button" class="close" aria-label="Close" (click)="closeForm();" data-toggle="tooltip" data-placement="auto"
          title="Reset Form">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>ADD INITIATIVE</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label" for="year">Strategic Plan :</label>
              <select id="year" name="year" class="form-control" formControlName="cycleId" [ngModel]="defaultCycle" (ngModelChange)="getObjective($event)">
                <option *ngFor="let c of cycles;let y = index;" [value]="c.cycleId">{{c.planYear}}: [{{c.startYear}} To {{c.endYear}}] : {{c.description}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="sel1">Goal:</label>
              <select class="form-control" id="sel1" formControlName="goalId">
                <option *ngFor="let goal of objectives;let i=index;" [value]="goal.goalId">{{i+1}}. {{goal.goal}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group ">
              <label>Proposed Initiative</label>
              <textarea class="form-control" rows="2" formControlName="initiative"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-default pull-right btn-sub" [disabled]="initiativeForm.invalid" data-toggle="tooltip"
              data-placement="auto" title="Submit Form">
              SUBMIT
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- for table -->
  <div class="card table-card">
    <div class="panel-body">
      <table class="table table-bordered table-data">
        <colgroup>
          <col style="width:30%">
          <col style="width:40%">
          <col style="width:10%">
          <col style="width:10%">
          <col style="width:10%">
        </colgroup>
        <thead class="header-background" *ngIf="goalsCopy.length">
          <tr>
            <th>
              <span class="hide-text">GOAL</span>
              <form action="" class="search-form">
                <div class="form-group has-feedback" style="margin-bottom: 10px;">
                  <label for="search" class="sr-only">Search</label>
                  <input type="text" class="form-control" name="search" id="search" (keyup)="searchGoal($event)" placeholder="GOAL">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form>
            </th>
            <th>
              <span class="hide-text">INITIATIVE</span>
              <form action="" class="search-form">
                <div class="form-group has-feedback" style="margin-bottom: 10px;">
                  <label for="search" class="sr-only">Search</label>
                  <input type="text" class="form-control" name="search" id="search" (keyup)="searchInitiative($event)" placeholder="INITIATIVE">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form>
            </th>
            <th>Disable</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let goal of goals;let i = index;">
            <td>{{goal.goal}}</td>
            <td colspan="4" style="padding:0px;border:none;" #element [style.height]="get(element)">
              <table class="table table-bordered" style="height: inherit;">
                <colgroup>
                  <col style="width:40%">
                  <col style="width:10%">
                  <col style="width:10%">
                  <col style="width:10%">
                </colgroup>
                <tr class="to-be-highlighted" *ngFor="let initiate of goal.initiatives;let j=index;" #highlight>
                  <td>{{initiate.initiative}}</td>
                  <td class="text-center">
                    <label class="switch">
                      <input type="checkbox" [checked]="initiate.disable" (change)="disable($event,initiate.initiativeId)">
                      <span class="slider round"></span>
                    </label>
                  </td>
                  <td>
                    <button class="btn-link" data-toggle="tooltip" data-placement="auto" title="Edit" (click)="updateInitiative(goal.goalId,initiate,highlight)"
                      [disabled]="initiate.disable">
                      <a scrollTo href="#add-initiative">
                        <i class="glyphicon glyphicon-edit btn-edit"></i>
                      </a>
                    </button>
                  </td>
                  <td>
                    <button class="btn-link" data-toggle="tooltip" data-placement="auto" title="Delete" (click)="deleteInitiative(initiate.initiativeId,goal.initiatives,j)"
                      [disabled]="initiate.disable">
                      <i class="glyphicon glyphicon-trash btn-del"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!goals.length">
          <tr>
            <td colspan="4" class="text-center">No Data to Display .,.</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>