<div class="container-fluid">
  <div class="panel add-plan">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1" class="accordion-toggle">Add Goal</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <form [formGroup]="goalForm" (submit)="onSubmit()">      
      <div class="panel-body">
          <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-6">
              <div class="form-group">
                <label class="control-label" for="year">Strategic Plan:</label>
                <select id="year" name="year" class="form-control" formControlName="cycleId" [ngModel]="defaultCycle">
                  <option *ngFor="let c of cycles;let y = index;" [value]="c.cycleId">{{c.planYear}}: [{{c.startYear}} To {{c.endYear}}] : {{c.description}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-6">
              <div class="form-group">
                <label class="control-label">Goal</label>
                <textarea class="form-control" rows="3" formControlName="goal"></textarea>
              </div>
            </div>
          </div>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-success btn-empty" [disabled]="goalForm.invalid"><i class="glyphicon glyphicon-ok"></i></button>
      </div>
    </form>      
    </div>
  </div>
  <div class="panel detail-plan">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Strategic Goals</a>  
        <div class="form-inline pull-right" style="margin-bottom: unset">
          <div class="form-group">
            <label class="control-label">Strategic Plan</label>
            <select id="year" name="year" class="form-control" [(ngModel)]="defaultCycle" (ngModelChange)="getGoals()" style="width:auto;height: auto;padding: 0px;">
              <option *ngFor="let c of cycles;let y = index;" [value]="c.cycleId" [attr.selected]="c.defaultCycle">{{c.planYear}}: [{{c.startYear}} To {{c.endYear}}]</option>
            </select>
          </div>
          <button type="button" class="btn-info btn-add" style="display: inline-block;
          vertical-align: top;" (click)="addNewGoal()">
            <span class="glyphicon glyphicon-plus"></span> Add
          </button>
        </div>      
      </h4>
    </div>

    <div id="collapse2" class="panel-collapse collapse in">
      <table class="table table-hover table-bordered" >        
        <thead class="header-background" *ngIf="goals.length">
          <tr>
            <th>Goal
              <span class="search">
                <input type="text" name="search" (keyup)="searchGoal($event,goals)" placeholder="Search..">
              </span>
            </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="body-background">
          <tr *ngFor="let goal of goals;let i = index;">
            <td style="vertical-align: middle;">{{goal.goal}}</td>
            <td style="vertical-align: middle;">
              <i class="glyphicon glyphicon-edit btn-del" style="cursor:pointer;" (click)="updateGoal(goal)"></i>
            </td>
            <td style="vertical-align: middle;">
              <i class="glyphicon glyphicon-trash btn-del" style="cursor:pointer;" (click)="deleteGoal(goal.goalId,goals,i)"></i>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!goals.length">
          <tr><td colspan="4" class="text-center">No Data to Display .,.</td></tr>
        </tfoot>
      </table>
    </div>
  </div>

  <!--popup model-->
  <div class="modal fade" id="objectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">
          <p>You have successfully added a new Goal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="collapse" href="#collapse1">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>