nav{
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
  /* box-shadow: 0px 1px 15px 1px rgb(94, 97, 138); */
}
nav a{
  color:white;
}

.nav .open>a{
  background-color: #b93f75;
  border-color: #b93f75;
}

.nav>li>a:focus, .nav>li>a:hover , .nav>li:active>a{
  text-decoration: none;
    background-color: #b93f75;
    color: #ffffff;
}

.navbar-login{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size{
  font-size: 87px;
}

.table{
  margin-bottom: 0px;
 }
 .table .table {
  background-color: inherit;
 }