nav{
  background: #563d7c; /* fallback for old browsers */
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  padding: 5px;

}
.navbar-brand{
  font-family: -webkit-pictograph;
  font-weight: bolder;
  background:#563d7c; 
  color: #cbbde2;
  transition: 0.6s;
  text-decoration: none;
  border-right: 2px dotted transparent;
  margin: 0 10px;
  }

.navbar-brand:hover,.navbar-brand:focus,.navbar-brand:active{
    color: #fff;
    background: transparent;
   
  }

  
nav a{
  color: #cbbde2;
  transition: 0.6s;
  text-decoration: none;  
}



.nav>li>a:focus, .nav>li>a:hover{
  background: transparent;
  color:white;
}
.navbar-login{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size{
  font-size: 87px;
}

.table{
  margin-bottom: 0px;
 }
 .table .table {
  background-color: inherit;
 }