<div class="container-fluid">
  <div class="text-center" style="color: red;">
    <h1><b>Assigned Operational Performance Indicators</b></h1>
  </div>
  <!--edit section-->
  <div class="panel" *ngIf="selectedOpi">
    <div class="panel-heading background-4">
      <h4 class="panel-title ">
        <a data-toggle="collapse" href="#edit-section">Edit Section</a>
      </h4>
    </div>
    <div id="edit-section" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <label>Strategic Goal :</label>
            {{selectedOpi.goal}}
          </div>
          <div class="col-lg-6">
            <label>Initiative :</label>
            {{selectedInitiative.initiative}}
          </div>
          <div class="col-lg-6">
            <label>Activity :</label>
            {{selectedActivity.activity}}
          </div>
          <div class="col-lg-6">
            <label>OPI :</label>
            {{selectedMeasure.opi}}
          </div>
          <div class="col-lg-6">
            <label>Frequency :</label>
            {{selectedMeasure.frequency}}
          </div>
          <div class="col-lg-6">
            <label>Measure Unit :</label>
            {{selectedMeasure.measureUnit}}
          </div>
          <div class="col-lg-6">
            <label>Base Line :</label>
            {{selectedMeasure.departmentInfo[0].baseline}}
          </div>
          <div class="col-lg-6">
            <label>Evidence Form Type :</label>
            {{selectedMeasure.evidanceForm}}
            <p *ngIf="!selectedMeasure.evidanceForm">None</p>
          </div>
        </div>
        <!-- without evidenceformId -->
        <div class="row" *ngIf="!selectedMeasure.evidanceFormId">
          <table id="accordion" class="table table-hover">
            <thead>
              <tr>
                <th>Year</th>
                <th>Estimated Cost</th>
                <th>Quarter</th>
                <th>Current Cost</th>
                <th>Current Level</th>
                <th>End Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let tdl of selectedMeasure.departmentInfo[0].opiAnnualTargets;let at=index;">
              <tr>
                <td [attr.rowspan]="tdl.levels.length + 2" style="vertical-align: middle;">{{tdl.year}}</td>
                <td [attr.rowspan]="tdl.levels.length + 2" style="vertical-align: middle;">{{tdl.estimatedCost}}</td>
              </tr>
              <ng-template let-lev ngFor [ngForOf]="tdl.levels" let-in="index">
                <tr [style.background]="lev.disabled?'lightgray':null">
                  <td>{{lev.quarter}}</td>
                  <td><input type="number" [(ngModel)]="lev.currentCost" *ngIf="lev.status=='unsubmitted'" [disabled]="lev.disabled"> <span *ngIf="lev.status!='unsubmitted'">{{lev.currentCost}}</span></td>
                  <td><input type="number" [(ngModel)]="lev.currentTargetLevel" *ngIf="lev.status=='unsubmitted'" [disabled]="lev.disabled"> <span *ngIf="lev.status!='unsubmitted'">{{lev.currentTargetLevel}}</span></td>
                  <td>{{lev.endDate + tdl.year}}</td>
                  <td>
                    <div *ngIf="!lev.disabled">
                    <button  *ngIf="lev.status=='unsubmitted'" [disabled]="!(lev.currentTargetLevel&&lev.currentCost)" (click)="lev.isUpdating=false;saveQuarterResult(lev)" [disabled]="lev.disabled"> Save</button>
                    <button  *ngIf="lev.status=='inprogress'" data-toggle="modal" data-target="#evidenceForm" (click)="selectedQuarter=lev;evForm=0" [disabled]="lev.disabled">Upload Evidence</button>
                    <button  *ngIf="lev.status=='inprogress'" (click)="lev.status='unsubmitted';lev.isUpdating=true;" [disabled]="lev.disabled">Edit</button>
                    <button  *ngIf="lev.isUpdating" (click)="lev.status='inprogress';lev.isUpdating=false;"> Cancel</button>
                    <button  *ngIf="lev.evidance.length&&!isUpdating" (click)="lockQuarterResult(lev)" [disabled]="lev.disabled">Lock</button>
                    <button type="button" class="close" data-toggle="collapse"  [attr.href]="'#row-collapse'+at" (click)="evidences=lev.evidance;">
                      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                      <span class="sr-only">Close</span>
                    </button>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-container *ngIf="evidences.length">
                <tr [attr.id]="'row-collapse'+at" class="collapse">
                  <td colspan="5">
                    <b>Evidences</b><br>
                    <div class="row" *ngFor="let ev of evidences;let e = index;">
                      <div class="col-lg-6">
                        <a [attr.href]="ev.url">{{e+1}}) evidance {{e+1}}</a>
                        <button type="button" class="close" (click)="deleteEvidence(evidences,ev,e)">
                          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <!--with student internship form-->
        <div class="row" *ngIf="selectedMeasure.evidanceFormId==1">
          <table id="accordion" class="table table-hover">
            <colgroup>
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="60%">
            </colgroup>
            <thead>
              <tr>
                <th>Year</th>
                <th>Estimated Cost</th>
                <th>Quarter</th>
                <th>End Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let tdl of selectedMeasure.departmentInfo[0].opiAnnualTargets;let at=index;">
              <tr>
                <td [attr.rowspan]="tdl.levels.length + 4" style="vertical-align: middle;">{{tdl.year}}</td>
                <td [attr.rowspan]="tdl.levels.length + 4" style="vertical-align: middle;">{{tdl.estimatedCost}}</td>
              </tr>
              <ng-template let-lev ngFor [ngForOf]="tdl.levels" let-in="index">
                <tr [style.background]="lev.disabled?'lightgray':null" data-toggle="collapse"  [attr.href]="'#row-collapse'+at+'q'+in" (click)="selectedQuarter=lev;evForm=1;">
                  <td>{{lev.quarter}}</td>
                  <td>{{lev.endDate + tdl.year}}</td>
                  <td style="text-align:center;">View/Fill Quarter</td>
                </tr>
                <ng-container>
                  <tr [attr.id]="'row-collapse'+at+'q'+in" class="collapse">
                    <td colspan="5">
                      <b><u>Internship Details </u>:</b>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Current Cost</label>
                            <input type="number" [(ngModel)]="lev.currentCost" *ngIf="lev.status=='unsubmitted'"> <span *ngIf="lev.status!='unsubmitted'">{{lev.currentCost}}</span>
                          </div>
                        </div>
                        <div class="col-sm-12" *ngFor="let file of lev.internshipDetails;let f=index;">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Internship File :</label>
                              <a [attr.href]="file.internshipFileUrl">File 1</a>
                              <button type="button" class="close" (click)="deleteInternshipFile(lev.internshipDetails,file,f)">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                              </button>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Evidences :</label>
                              <button class="pull-right" data-toggle="modal" data-target="#evidenceForm" (click)="selectedInternshipFile = file;">Add</button>
                              <ul style="list-style:none;padding-left:0px;">
                                <li *ngFor="let ev of file.evidance;let e=index;">
                                  <a [attr.href]="ev.url">evidence {{e+1}}</a>
                                  <button type="button" class="close" (click)="deleteInternshipEvidence(file.evidance,ev,e)">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                  </button>
                                </li>
                                <li *ngIf="!file.evidance" style="color:red">No evidence added yet.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-sm-12">
                          <button >Add More</button>
                        </div> -->
                        <div *ngIf="!lev.internshipDetails.length">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="exampleInputFile">Student Internship File</label>
                              <input type="file" class="form-control-file" id="exampleInputFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" aria-describedby="fileHelp" (change)="lev.internshipFile=$event.srcElement.files[0];">
                              <small id="fileHelp" class="form-text text-muted">Accept only .xls, .csv or excel sheets</small>
                            </div>
                          </div>
                          <!-- <div class="col-sm-6">
                            <div class="form-group">
                              <label for="exampleInputFile">Evidence</label><br>
                              <button type="button" data-toggle="modal" data-target="#evidenceForm" (click)="evForm=3;">Choose File</button> No file chosn
                            </div>
                          </div> -->
                          <div class="col-sm-12">
                            <div class="form-group">
                              <button type="button"  (click)="saveInternshipForm(lev)">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </td>
                  </tr>
                </ng-container>
              </ng-template>
            </tbody>
          </table>
        </div>
        <!--with mous forms-->
        <div class="row" *ngIf="selectedMeasure.evidanceFormId==2">
          <table id="accordion" class="table table-hover">
            <colgroup>
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="10%">
              <col width="60%">
            </colgroup>
            <thead>
              <tr>
                <th>Year</th>
                <th>Estimated Cost</th>
                <th>Quarter</th>
                <th>End Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let tdl of selectedMeasure.departmentInfo[0].opiAnnualTargets;let at=index;">
              <tr>
                <td [attr.rowspan]="tdl.levels.length + 4" style="vertical-align: middle;">{{tdl.year}}</td>
                <td [attr.rowspan]="tdl.levels.length + 4" style="vertical-align: middle;">{{tdl.estimatedCost}}</td>
              </tr>
              <ng-template let-lev ngFor [ngForOf]="tdl.levels" let-in="index">
                <tr [style.background]="lev.disabled?'lightgray':null" data-toggle="collapse" [attr.href]="'#row-collapse'+at+'lev'+in" (click)="selectedQuarter=lev;">
                  <td>{{lev.quarter}}</td>
                  <td>{{lev.endDate + tdl.year}}</td>
                  <td style="text-align:center;">View/Fill Quarter</td>
                </tr>
                <ng-container>
                  <tr [attr.id]="'row-collapse'+at+'lev'+in" class="collapse">
                    <td colspan="5">
                      <b><u>Mou Details </u>:</b>
                      <button  class="pull-right" (click)="lockQuarterResult(lev)" *ngIf="lev.disabled&&lev.mouDetails.length">Lock</button>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Current Cost</label>
                            <input type="number" [(ngModel)]="lev.currentCost" *ngIf="lev.status=='unsubmitted'"> <span *ngIf="lev.status!='unsubmitted'">{{lev.currentCost}}</span>
                          </div>
                        </div>
                        <div *ngIf="!lev.mouDetails.length">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Mou type</label>
                              <input type="text" [(ngModel)]="lev.mouType">
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Organization</label>
                              <input type="text" [(ngModel)]="lev.organization">
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <button type="button"  (click)="saveQuarterResultWithMou(lev)"> Save</button>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="lev.mouDetails.length" style="list-style:none;">
                          <div *ngFor="let detail of lev.mouDetails;let d = index;">
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label>Mou type : </label>
                                <input type="text" [(ngModel)]="detail.mouType" *ngIf="detail.edit">
                                <span *ngIf="!detail.edit&&detail.mouType">{{detail.mouType}}</span>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label>Organization : </label>
                                <input type="text" [(ngModel)]="detail.organization" *ngIf="detail.edit">
                                <span *ngIf="!detail.edit&&detail.organization">{{detail.organization}}</span>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                <button type="button"  (click)="detail.edit=true;detail.mouTypeCopy=detail.mouType;detail.organizationCopy=detail.organization;"
                                  *ngIf="!detail.edit"> Edit</button>
                                <button type="button"  (click)="detail.edit=true" *ngIf="detail.edit">save</button>
                                <button type="button"  (click)="detail.edit=false;detail.mouType=detail.mouTypeCopy;detail.organization=detail.organizationCopy;"
                                  *ngIf="detail.edit"> Cancel</button>
                                <button  (click)="evForm=2;selectedMou=detail;" data-toggle="modal" data-target="#evidenceForm">Upload Evidence</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="lev.addMore">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Mou type : </label>
                              <input type="text" [(ngModel)]="lev.mouType">
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label>Organization : </label>
                              <input type="text" [(ngModel)]="lev.organization">
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <button type="button"  (click)="saveQuarterResultWithMou(lev)">save</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <button type="button"  *ngIf="lev.mouDetails.length" (click)="lev.addMore=true;">Add More</button>
                          <button type="button"  *ngIf="lev.addMore" (click)="lev.addMore=false;">Cancel</button>
                        </div>
                      </div>
                      <!-- <table class="table table-hover" *ngIf="lev.mouDetails.length">
                        <caption>
                          <label>Current Cost</label>
                          <input type="number" [(ngModel)]="lev.currentCost" *ngIf="lev.status=='unsubmitted'"> <span *ngIf="lev.status!='unsubmitted'">{{lev.currentCost}}</span>
                        </caption>
                        <thead>
                          <th>Mou Type</th>
                          <th>Organization</th>
                          <th></th>
                        </thead>
                        <tbody *ngFor="let detail of lev.mouDetails;let d = index;" >
                          <tr data-toggle="collapse" [attr.href]="'#mou-evidence'+at+'lev'+in+'detail'+d">
                            <td>
                              <input type="text" [(ngModel)]="detail.mouType" *ngIf="detail.edit">
                              <span *ngIf="!detail.edit&&detail.mouType">{{detail.mouType}}</span>
                            </td>
                            <td>
                              <input type="text" [(ngModel)]="detail.organization" *ngIf="detail.edit">
                              <span *ngIf="!detail.edit&&detail.organization">{{detail.organization}}</span>
                            </td>
                            <td>
                              <button type="button"  (click)="detail.edit=true;detail.mouTypeCopy=detail.mouType;detail.organizationCopy=detail.organization;" *ngIf="!detail.edit" [hidden]="lev.disabled"> Edit</button>
                              <button type="button"  (click)="detail.edit=true;updateMou(detail);" *ngIf="detail.edit" [hidden]="lev.disabled">save</button>
                              <button type="button"  (click)="detail.edit=false;detail.mouType=detail.mouTypeCopy;detail.organization=detail.organizationCopy;"
                                *ngIf="detail.edit" [hidden]="lev.disabled"> Cancel</button>
                              <button  (click)="evForm=2;selectedMou=detail;" data-toggle="modal" data-target="#evidenceForm" [hidden]="lev.disabled">Upload Evidence</button>
                              <button (click)="deleteMou(lev.mouDetails,detail,d)" [hidden]="lev.disabled">Delete</button>
                            </td>
                          </tr>
                          <tr [attr.id]="'mou-evidence'+at+'lev'+in+'detail'+d" class="collapse" *ngIf="detail.evidance.length;">
                            <td colspan="3">
                              <b>Evidences</b><br>
                              <div class="row" *ngFor="let ev of detail.evidance;let e = index;">
                                <div class="col-lg-6">
                                  <a [attr.href]="ev.url">{{e+1}}) evidance {{e+1}}</a>
                                  <button type="button" class="close" (click)="deleteEvidence(evidences,ev,e)">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                  </button>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                        <tbody *ngIf="lev.addMore">
                          <tr>
                            <td><input type="text" [(ngModel)]="lev.mouType"></td>
                            <td><input type="text" [(ngModel)]="lev.organization"></td>
                            <td>
                              <button type="button"  (click)="saveQuarterResultWithMou(lev)">save</button>
                            </td>
                          </tr>
                        </tbody>
                      </table> -->
                      <button type="button"  *ngIf="lev.mouDetails.length" (click)="lev.addMore=true;" [hidden]="lev.disabled">Add More</button>
                      <button type="button"  *ngIf="lev.addMore" (click)="lev.addMore=false;" [hidden]="lev.disabled">Cancel</button>
                    </td>
                  </tr>
                </ng-container>
              </ng-template>
            </tbody>            
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--opi List-->
  <div class="panel">
    <div class="panel-heading background-4">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Proposed Operational Performance Indicators</a>
      </h4>
    </div>
    <!-- <div id="collapse2" class="panel-collapse collapse in" *ngIf="goalsCopy.length">
      <div class="d-flex border flex-header ">
        <div class="p-2 border">
          Goal
          <span class="search">
            <input type="text" name="search" (keyup)="searchGoal($event)" placeholder="Search..">
          </span>
        </div>
        <div class="p-3 border">
          <div class="d-flex">
            <div class="p-2 border">
              Initiative
              <span class="search">
                <input type="text" name="search" (keyup)="searchInitiative($event)" placeholder="Search..">
              </span>
            </div>
            <div class="p-3 border">
              <div class="d-flex">
                <div class="p-2 border">
                  Activities
                  <span class="search">
                    <input type="text" name="search" (keyup)="searchActivity($event)" placeholder="Search..">
                  </span>
                </div>
                <div class="p-3 border">
                  <div class="d-flex">
                    <div class="p-2">
                      OPI
                      <span class="search">
                        <input type="text" name="search" (keyup)="searchOpi($event)" placeholder="Search..">
                      </span>
                    </div>
                    <div class="p-2">
                      Frequency
                    </div>
                    <div class="p-2">
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex margin-1 body-background" *ngFor="let goal of goals;let i = index;">
        <div class="p-2 border">
          {{ goal.goal }}
        </div>
        <div class="p-3 border">
          <div class="d-flex" *ngFor="let initiate of goal.initiatives;let j=index">
            <div class="p-2 border-bottom">
              {{initiate.initiative}}
            </div>
            <div class="p-3 border no-bottom-border">
              <div class="d-flex" *ngFor="let activit of initiate.activities;let k=index">
                <div class="p-2 border-bottom">
                  {{activit.activity}}
                </div>
                <div class="p-3">
                  <div class="d-flex height-100" *ngFor="let msr of activit.opis;let l=index">
                    <div class="p-2 border no-bottom-border">
                      {{msr.opi}}
                    </div>
                    <div class="p-2 border no-bottom-border">
                      {{msr.frequency}}
                    </div>
                    <div class="p-2 border no-bottom-border">
                      <a data-target="#edit-section" (click)="selectedOpi=goal;selectedInitiative=initiate;selectedActivity=activit;selectedMeasure=msr;showOpi(goal,msr)">Fill</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="panel-body">
      <table class="table table-bordered">
        <colgroup>
          <col style="width:20%">
          <col style="width:20%">
          <col style="width:20%">
          <col style="width:20%">
          <col style="width:10%">
          <col style="width:10%">
        </colgroup>
        <thead  class="header-background" *ngIf="goalsCopy.length">
          <tr>
            <th>Goal
              <span class="search">
                <input type="text" name="search" (keyup)="searchGoal($event)" placeholder="Search..">
              </span>
            </th>
            <th>Initiative
              <span class="search">
                <input type="text" name="search" (keyup)="searchInitiative($event)" placeholder="Search..">
              </span>
            </th>
            <th>Activity
              <span class="search">
                <input type="text" name="search" (keyup)="searchActivity($event)" placeholder="Search..">
              </span>
            </th>
            <th>KPI
              <span class="search">
                <input type="text" name="search" (keyup)="searchOpi($event)" placeholder="Search..">
              </span>                      
            </th>
            <th>Frequency</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let goal of goals;let i = index;">
            <td>{{goal.goal}}</td>
            <td colspan="5" style="padding:0px;border:none;" #element [style.height]="get(element)">
              <table class="table table-bordered" style="height: inherit;">
                <colgroup>
                  <col style="width:25%">
                  <col style="width:75%">
                </colgroup>
                <tr *ngFor="let initiate of goal.initiatives;let j=index;">
                  <td>{{initiate.initiative}}</td>
                  <td colspan="4" style="padding:0px;" #element1 [style.height]="get(element1)">
                    <table class="table table-bordered" style="height: inherit;">
                      <colgroup>
                        <col style="width:33.33%">
                        <col style="width:66.67">
                      </colgroup>
                      <tr *ngFor="let activit of initiate.activities;let k=index;">
                        <td [style.border-top]="k?'1px solid #ddd':'none'">{{activit.activity}}</td>
                        <td colspan="3" style="padding:0px;" #element2 [style.height]="get(element2)">
                          <table class="table table-bordered" style="height: inherit;">
                            <colgroup>
                              <col style="width:50%">
                              <col style="width:25%">
                              <col style="width:25%">
                            </colgroup>
                            <tr *ngFor="let msr of activit.opis;let l=index">
                              <td [style.border-top]="l?'1px solid #ddd':'none'">{{msr.opi}}</td>
                              <td [style.border-top]="l?'1px solid #ddd':'none'">{{msr.frequency}}</td>
                              <td [style.border-top]="l?'1px solid #ddd':'none'">
                                <a data-target="#edit-section" (click)="selectedOpi=goal;selectedInitiative=initiate;selectedActivity=activit;selectedMeasure=msr;showOpi(goal,msr)">Fill</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!goals.length">
          <tr><td colspan="4" class="text-center">No Data to Display .,.</td></tr>
        </tfoot>
      </table>
    </div>
  </div>

  <!--Evidence Form-->
  <div class="modal fade" id="evidenceForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
          <h4 class="modal-title" id="myModalLabel">Attach Evidence</h4>
        </div>
        <!-- Modal Body -->
        <form [formGroup]="evidencForm" (submit)="onEvidenceSubmit(evForm)">
          <div class="modal-body">
            <div class="form-group">
              <label for="title">Title</label> <input type="text" class="form-control" id="title" formControlName="title"
              />
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" class="form-control" id="description" formControlName="description"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Attachment</label> <input type="file" class="form-control-file" id="exampleInputFile"
                formControlName="files" (change)="getFile($event)" aria-describedby="fileHelp"> <small id="fileHelp" class="form-text text-muted">This is some placeholder
							block-level help text for the above input. It's a bit lighter and
							easily wraps to a new line.</small>
            </div>
          </div>
          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>