.table{
 margin-bottom: 0px;
}
.table .table {
 background-color: inherit;
}

.panel-opi{
    margin-top: 50px;
}

.panel-opi .panel-title{
    font-size: 25px;
    color: hsl(264, 6%, 69%);;
}

.panel-opi .panel-heading{
    background: #563d7c;
}

div[customBox]{
    padding:30px;
    /* height:30px; */
    /* text-align: center; */
  }
  div[line]{
    width:150px;
    border-top:2px solid black;
    display: -webkit-inline-box;
    position:relative;
    transition:0.9s;
  }
  div[line]::before{
    content:'';
    width:20px;
    height:20px;
    border:2px solid black;
    background:white;
    display:block;
    border-radius:50%;
    margin-top:-11px;
    position:absolute;
    right:-16px;
  }

  div[line] h4{
    text-transform: uppercase;
    margin: auto;
    padding: 20px;
    color:var(--color-primary);
  }
  .active{
    border-color:yellow !important;
  }
  .active::before{
    background:yellow !important;
  }

  .approved{
    border-color: #1B5E20!important;
  }
  .approved::before{
    background: #1B5E20 !important;
    z-index: 1;
  }
  .rejected{
    border-color: #D50000 !important;
  }
  .rejected::before{
    background: #D50000!important;
    z-index: 1;
  }
  .locked{
    border-color: #C51162 !important;
  }
  .locked::before{
    background: #C51162!important;
    z-index: 1;
  }
  .null{
    border-color:black !important;
  }
  .null::before{
    background:white(134, 134, 95) !important;
    z-index: 1;
  }

#statu-legend ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#statu-legend ul li {     display: inline-block;
    padding: 0 30px;; }


li:before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    display: block;
    left: -15px;
    top: 14px;
    position: relative;
}
.red:before{
    background:#D50000;
    
}
.cyan:before{
    background:#C51162;
}
.green:before{
    background:#1B5E20;
}
.white:before{
    background:white;
}
.table-card .table1{
    background:var(--color0);
    margin-bottom: 0px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12); 
  }
  
  
  .table-card thead{
    background: var(--color-primary);
    color:var(--color0);
  }
  
  .hide-text{
    float: left;
    position: absolute;
    margin-top: 10px;
  }


  /* serach-css  start*/
  .search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: var(--color-text);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
  }
  .search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
  }
  .search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
    color:var(--color-primary);
  }
  .search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
  }
  .search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
  }
  .search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
  }
  .search-form .form-group:hover,
  .search-form .form-group.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
  }
  .search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: var(--color-primary);
    left: initial;
    font-size: 14px;
  }
  
  


/* serach css end */

.mini {
  text-align: center;
}

.mini strong{
  text-decoration: underline;
  color: var(--color-primary);
}

/* legand */
.the-legend {
  background: var(--color-text);
  color:var(--color-primary);
  border-style: none;
  border-width: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  width: auto;
  padding: 8px 16px;
  border: 1px solid var(--color-text);
  border-radius: 6px;
}
.the-fieldset {
  border: 1px solid var(--color-primary);
  padding: 10px;
}
/* legand */


.panel-heading{
  background: var(--color-primary);
  color:var(--color-text);
}

.bar .modal-header{
  background: var(--color-primary);
  color:var(--color-text);
}

.bar .close{
  color:var(--coolor0);
  opacity: 1;
}

/* edit-table */
 .table-edit thead th{
   background: var(--color-primary);
   color:var(--color-text);

 }


 .edit-text{
   text-transform: uppercase;
   color:var(--color-primary);
   text-decoration: underline;
 }

 .glyphicon glyphicon-chevron-down:focus {
  outline: -webkit-focus-ring-color auto 0px;
}


.table-edit .close{
  color:var(--color-primary);
}
.close:focus {
  outline: -webkit-focus-ring-color auto 0px;
}


.box{
  background: var(--color-text);
  padding: 13px;
  width: 80%;
  margin-top: 15px;
  margin-left: 13px;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
}

.box a{
  color:var(--color-primary);
}

.file{
 color: #563d7c;
}

.header-background th{
  text-transform: uppercase;
  vertical-align: middle;
}

.heading-details{
  font-size: 16px;
  text-transform: uppercase;
  color: #563d7c;
  font-weight: 700;
  text-align: center;
  
}

.btn-save{
  background: var(--color-primary);
  border-color:var(--color-primary);
  color:var(--color-text);
}

.btn-save:hover ,.btn-save:active ,.btn-save:focus{
  background: var(--color-primary);
  border-color:var(--color-primary);
  color:var(--color-text);
}


/* edit-table */