.table{
 margin-bottom: 0px;
}
.table .table {
 background-color: inherit;
}


.panel-opi panel-title{
    font-size: 25px;
    color: var(--color-primary);
}

.table-card .table{
    background:var(--color0);
    margin-bottom: 0px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12); 
  }
  
  
  .table-card thead{
    background: var(--color-primary);
    color:var(--color0);
  }
  
  .hide-text{
    float: left;
    position: absolute;
    margin-top: 10px;
  }