.unexistance td{
  padding: 8px;
  border-top: 1px solid #ddd;
  max-width: 150px !important;
}

.custom-center{
  display: -webkit-inline-box;
  margin: auto;
}

.table>tbody>tr>tr>td{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

/*search*/
.search input[type=text] {
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  /* background-image: url('searchicon.png'); */
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 2px;
  margin-left: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search input[type=text]:focus {
  width: 80%;
}

.search button{
  background: transparent;
  font-size: 16px;
  padding: 2px;
}
.search form{
  display: inherit;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: white;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/*panel-css */
.add-plan .panel-heading{
  color: var(--color-primary);
  background: #cbbde2
  /* border-color:#de32bd;
  border-bottom: 3px solid #de32bd; */

}
.detail-plan .panel-heading{
  color: var(--color-primary);
  background: transparent;
  margin-top: 50px;
  /* border-bottom: 3px solid #de32bd; */
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: var(--color-text);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
  color:var(--color-primary);
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: var(--color-primary);
  left: initial;
  font-size: 14px;
}



/* serach css */

.dropdown-st{
  background: var(--color-primary);
  padding: 10px;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


/* fade css */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}


.bg-nav{
  margin-top: 44px;
  margin-bottom: 30px;
  border-bottom: 3px solid var(--color-primary);
  width: auto;
  font-family: Raleway ,sans-serif;
  line-height: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.margin{
  margin-left:10px;
  color: var(--color-primary);

}

.margin:hover{
  background:var(--color-primary);
  color:white; 
}


.add-form .panel-heading{
  background: var(--color-text);
  padding: 12px;
  width: 20%;
  border-radius: 4px;
  margin-top: -18px;
  margin-left: 10px;
  color: var(--color-primary);
  text-align: center;
  text-transform:uppercase;
}

.add-form .panel-heading .accordion-toggle:after {
  color:var(--color-text);
}

.add-form label{
  font-weight:400; 
}

.add-form .checkbox-inline{
  font-weight: 400;
}

.add-form .panel-footer{
    background-color: transparent;
    border-top: 0px solid var(--color-primary);
}

.add-form{
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
  box-shadow: 0 0px 0px rgba(0,0,0,.05);
  border: 1px solid var(--color-primary);
 
}

.add-form .form-control:focus{
    border-color: var(--color-text);
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0), 0 0 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0), 0 0 0px;
}




/* modal */
.modal-add .modal-header{
  background: var(--color-primary);
  color:var(--color-text);

}

.modal-add hr{
  border-top: 1px solid #fff;
}

.modal-add .modal-header .close{
  color:white;
  opacity: 1;
}

.modal-add .modal-body h3{
  color: var(--color-primary);
  text-decoration: underline;
}

.modal-add .modal-body .margin{
  background-color: #ffffff;
  border-color: var(--color-primary);
}

.modal-add .modal-body .margin:hover{
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color:white;
}
/* modal */

/* card */

.card-form{
  background: white;
  width: 57%;
 margin-left: auto;
 margin-right:auto;
 margin-top:25px;
 box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}

.card-form .card-header{
  border-bottom: 1px solid #f3efef;
  background:var(--color-primary); 
}

.card-form .card-header h4{
  padding: 14px;
  color: var(--color0);
  margin-bottom: -3px;
}

.card-form .close{
  padding: 10px;
  color:var(--color0);
  opacity: 1;
}

.card-form .close:hover{
  color:var(--color-text);
  opacity:1 ;
}

.card-form .close:focus{
  outline: -webkit-focus-ring-color auto 0px;
}

.card-form .card-body{
  padding: 36px;
  
}

.card-form label{
  font-weight: 300;
}

.card-form form{
  margin-bottom: 10px;
}

.card-form .btn-sub{
  width: 36%;
  border-radius: 16px;
  color: var(--color-text);
  border-color: var(--color-primary);
}

.btn-sub:hover {
  color: var(--color-text);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-sub:focus{
  color: var(--color-text);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-sub:active{
  color:var(--color-primary);
  border-color: var(--color-primary);
  background:  var(--color-primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center tr th{
  text-align: center;
}

.icon-mark{
  font-size: 22px;
  color: var(--color-text);
}

.icon-mark2{
  font-size:22px;
  color:var(--color-primary);
}

/* card-css end */

/* card-table */
.table-card .table{
  background:var(--color0);
  margin-bottom: 0px;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12); 
}


.table-card thead{
  background: var(--color-primary);
  color:var(--color0);
}

.hide-text{
  float: left;
  position: absolute;
  margin-top: 10px;
}


/* card-table */


/* lengad */
.the-legend {
  background: var(--color-text);
  color: var(--color-primary);
  border-style: none;
  border-width: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  width: auto;
  padding: 7px 13px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-weight: 600;
}

.the-legend:hover{
  background: var(--color-primary);
  color:  var(--color-text);
}

.the-fieldset {
  border: 1px solid var(--color-primary);
  padding: 15px;
  border-radius: 7px;
  
}

.the-fieldset .pull-right{
  margin-bottom: 15px;
}

.the-fieldset .input-group{
  margin-right: 25px;
}


.border-all{
  text-align:center;
  color: white;
  background: #563d7c;
  padding: 7px;
  margin-bottom: 20px;
  border-radius: 3px;
  margin-top: -25px;
}


.margin-bottom{
  margin-bottom: 15px;
}


.dept-list{
  list-style:none;
  padding-left:0;
  height:55vh;
  overflow-y: auto;
}

/* .dept-list li{
  border: 1px solid var(--color-primary);
  margin-bottom: 30px;
} */

.modal-header .close:focus {
  outline: -webkit-focus-ring-color auto 0px;

}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}