nav{
  background: #1a75d2;  /* fallback for old browsers */ 
  /* box-shadow: 0px 1px 15px 1px rgb(94, 97, 138); */
}

.navbar-brand{
font-family: -webkit-pictograph;
font-weight: bolder;
background:#1a75d2;
color: white;
transition: 0.6s;
text-decoration: none;
border-right: 2px dotted transparent;
/* padding: 30px 8px 0 10px; */
margin: 0 10px;
}

.navbar-brand:hover,.navbar-brand:focus,.navbar-brand:active{
  color:#d54e21;
  border-right: 2px dotted #ffffff;
  padding-bottom: 24px;
}

nav a{
  color: white;
  transition: 0.6s;
  text-decoration: none;
  border-right: 2px dotted transparent;
  /* padding: 30px 8px 0 10px; */
  margin: 0 10px;
}

.nav .open>a{
  background-color: #de3572;
  border-color: white;
}

.nav>li>a:focus, .nav>li>a:hover , .nav>li:active>a{
  border-right: 2px dotted #ffffff;
  padding-bottom: 15px;
  background: transparent;
}

.navbar-login{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size{
  font-size: 87px;
}

.dropdown-menu{
  /* top: 125%; */
  border: none;
  box-shadow: 0 6px 12px #26273485;
  /* background-color: rgba(38, 39, 52, 0.78); */
}
.dropdown-menu>li>a{
  color: black;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #1a75d2;
  color: #DB4513;
  text-decoration: none;
}
.unexistance td{
  padding: 8px;
  border-top: 1px solid #ddd;
  max-width: 150px !important;
}

.custom-center{
  display: -webkit-inline-box;
  margin: auto;
}

.table>tbody>tr>tr>td{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

/*search*/
.search input[type=text] {
  width: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  /* background-image: url('searchicon.png'); */
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 2px;
  margin-left: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search input[type=text]:focus {
  width: 80%;
}

.search button{
  background: transparent;
  font-size: 16px;
  padding: 2px;
}
.search form{
  display: inherit;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: white;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/*panel-css */
.add-plan .panel-heading{
  color: white;
  background: #1a75d2;
  /* border-color:#de32bd;
  border-bottom: 3px solid #de32bd; */

}
.detail-plan .panel-heading{
  color: white;
  background: #16BFFD;  /* fallback for old browsers */
  background: #1a75d2;
  /* border-bottom: 3px solid #de32bd; */
}

/* panel-css */
