<nav class="navbar navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="" style="font-family: -webkit-pictograph;font-weight: bolder;background:#397cd5;color: red;">UAEU</a>
    </div>
    <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
      <li ><a routerLinkActive="active" routerLink="home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" routerLinkActive="active" data-toggle="dropdown">{{selectedMenu}}<span *ngIf="!selectedMenu">Strategic Plan</span><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li (click)="selectedMenu = 'Strategic Plan'" ><a routerLinkActive="active" routerLink="./strategic-plan">Strategic Plan</a></li>
          <li (click)="selectedMenu = 'Strategic goals'" ><a routerLinkActive="active" routerLink="./strategic-goal">Strategic goals</a></li>
          <li (click)="selectedMenu = 'Proposed Initiatives'" ><a routerLinkActive="active" routerLink="./initiatives">Proposed Initiatives</a></li>
          <li (click)="selectedMenu = 'Proposed Activities'" ><a routerLinkActive="active" routerLink="./activities" >Proposed Activities</a></li>
          <li (click)="selectedMenu = 'KPI'" ><a routerLinkActive="active" routerLink="./kpis" >Proposed Operational Performance Indicators</a></li>
          <li (click)="selectedMenu = 'SPI'" ><a routerLinkActive="active" routerLink="./spi" >Strategic Performance Indicators</a></li>          
        </ul>
      </li>
      <li><a routerLink="/login" (click)="logout()">Logout</a></li>      
    </ul>
</nav>
<router-outlet></router-outlet>