nav{
  background: #262734;
  box-shadow: 0px 1px 15px 1px rgb(94, 97, 138);
}
nav a{
  color:white;
}
.nav>li>a:focus, .nav>li>a:hover , .nav>li:active>a{
  text-decoration: none;
  background-color: #eee;
  color:#262734;
}
.dropdown-menu{
  top: 125%;
  border: none;
  box-shadow: 0 6px 12px rgba(38, 39, 52, 0.52);
  background-color: rgba(38, 39, 52, 0.78);
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: #262734 !important;
  text-decoration: none;
  background-color: #f5f5f5;
}
.unexistance td{
  padding: 8px;
  border-top: 1px solid #ddd;
  max-width: 150px !important;
}

.custom-center{
  display: -webkit-inline-box;
  margin: auto;
}

.table>tbody>tr>tr>td{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

/*search*/
.search input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  /* background-image: url('searchicon.png'); */
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 2px;
  margin-left: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search input[type=text]:focus {
  width: 80%;
}

.search button{
  background: transparent;
  font-size: 16px;
  padding: 2px;
}
.search form{
  display: inherit;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: white;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}