/* You can add global styles to this file, and also import other style files */

/* Variables */
:root{
  --color0        : white;
  --color1        : #d6c7e8;
  --color2        : rgb(248, 242, 255);
  --color3        : #36a3f7;
  --color4        : #716aca;
  --color5        : #34bfa3;
  --color5Text    : white;
  --color4Text    : white;
  --color3Text    : white;
  --button-color1 : #3b548c;
  --button-color2 : #F44336;
  --button-color3 : #4CAF50;
  --small-font    : 10px;
  --medium-font   : 12px;
  --large-font    : 14px;
  --extralg-font  : 16px;
}

/* end of variables  */
body{
  background: var(--color0);
  
}
.padding10{
  padding:10px;
}
.margin-1{
  margin:-1px;
}
.height-100{
  min-height:100px;
}
.background-2{
  background: var(--color2);
  color: var(--color2Text);
}
.background-3{
  background: var(--color3);
  color: var(--color3Text);
}
.background-4{
  background: var(--color4);
  color: var(--color4Text);
}
.background-5{
  background: var(--color5) !important;
  color: var(--color5Text) !important;
}
.header-background{
  color: #563d7c;
  background: #cbbde2;
}
.body-background{
  background: var(--color0);
}
/* FLexbox */
.nopadding {
  padding: 0px !important;
}

.d-flex {
  display: flex;
}

.innerFlex {
  margin: -1px;
}

.border {
  border: 1px solid var(--color1);
}

.p-2 {
  flex: 1;
  padding: 5px;
}

.p-3 {
  flex: 2;
}

.p-4 {
  flex: 3;
}
p-5{
  flex: 4;
}
p-6{
  flex: 5;
}
p-7{
  flex: 6;
}
p-8{
  flex: 7;
}
p-9{
  flex: 8;
}
.p-3 span {
  padding: 5px;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.flex-header {
  padding: 10px !important;
  background: aliceblue;
  font-weight:bold;
  text-align:center;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0px;
}

.initiative {
  padding: 15px;
}

.border-left {
  border-left: 1px solid var(--color1);
  margin-left: -1px;
}

.border-right {
  border-right: 1px solid var(--color1);
}
/* End of flexbox  ========================================================================== */



/* Loader */
body{
padding-top: 55px;
}
.ctooltip {
position: relative;
display: inline-block;
}

.ctooltip .ctooltiptext {
visibility: hidden;
width: 120px;
background-color: #616161;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
margin: -60px 0px 0px -100px;
}

.tooltip-width{
width:150px !important;
}   

.ctooltip:hover .ctooltiptext {
visibility: visible;
}

/*loader css  */
.bookshelf_wrapper {
position: relative;
top: 60%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
margin-top: 19%;
}

.books_list {
margin: 0 auto;
width: 300px;
padding: 0;
}

.book_item {
position: absolute;
top: -120px;
box-sizing: border-box;
list-style: none;
width: 40px;
height: 120px;
opacity: 0;
background-color: #1e6cc7;
border: 5px solid white;
-webkit-transform-origin: bottom left;
  transform-origin: bottom left;
-webkit-transform: translateX(300px);
  transform: translateX(300px);
-webkit-animation: travel 2500ms linear infinite;
  animation: travel 2500ms linear infinite;
}
.book_item.first {
top: -140px;
height: 140px;
}
.book_item.first:before, .book_item.first:after {
content: '';
position: absolute;
top: 10px;
left: 0;
width: 100%;
height: 5px;
background-color: white;
}
.book_item.first:after {
top: initial;
bottom: 10px;
}
.book_item.second:before, .book_item.second:after, .book_item.fifth:before, .book_item.fifth:after {
box-sizing: border-box;
content: '';
position: absolute;
top: 10px;
left: 0;
width: 100%;
height: 17.5px;
border-top: 5px solid white;
border-bottom: 5px solid white;
}
.book_item.second:after, .book_item.fifth:after {
top: initial;
bottom: 10px;
}
.book_item.third:before, .book_item.third:after {
box-sizing: border-box;
content: '';
position: absolute;
top: 10px;
left: 9px;
width: 12px;
height: 12px;
border-radius: 50%;
border: 5px solid white;
}
.book_item.third:after {
top: initial;
bottom: 10px;
}
.book_item.fourth {
top: -130px;
height: 130px;
}
.book_item.fourth:before {
box-sizing: border-box;
content: '';
position: absolute;
top: 46px;
left: 0;
width: 100%;
height: 17.5px;
border-top: 5px solid white;
border-bottom: 5px solid white;
}
.book_item.fifth {
top: -100px;
height: 100px;
}
.book_item.sixth {
top: -140px;
height: 140px;
}
.book_item.sixth:before {
box-sizing: border-box;
content: '';
position: absolute;
bottom: 31px;
left: 0px;
width: 100%;
height: 5px;
background-color: white;
}
.book_item.sixth:after {
box-sizing: border-box;
content: '';
position: absolute;
bottom: 10px;
left: 9px;
width: 12px;
height: 12px;
border-radius: 50%;
border: 5px solid white;
}
.book_item:nth-child(2) {
-webkit-animation-delay: 416.66667ms;
  animation-delay: 416.66667ms;
}
.book_item:nth-child(3) {
-webkit-animation-delay: 833.33333ms;
  animation-delay: 833.33333ms;
}
.book_item:nth-child(4) {
-webkit-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
.book_item:nth-child(5) {
-webkit-animation-delay: 1666.66667ms;
  animation-delay: 1666.66667ms;
}
.book_item:nth-child(6) {
-webkit-animation-delay: 2083.33333ms;
  animation-delay: 2083.33333ms;
}

.shelf {
width: 300px;
height: 5px;
margin: 0 auto;
background-color: white;
position: relative;
}
.shelf:before, .shelf:after {
content: '';
position: absolute;
width: 100%;
height: 100%;
background: #1e6cc7;
background-image: -webkit-radial-gradient(rgba(255, 255, 255, 0.5) 30%, rgba(0, 0, 0, 0) 0%);
background-image: radial-gradient(rgba(255, 255, 255, 0.5) 30%, rgba(0, 0, 0, 0) 0%);
background-size: 10px 10px;
background-position: 0 -2.5px;
top: 200%;
left: 5%;
-webkit-animation: move 250ms linear infinite;
  animation: move 250ms linear infinite;
}
.shelf:after {
top: 400%;
left: 7.5%;
}

@-webkit-keyframes move {
from {
background-position-x: 0;
}
to {
background-position-x: 10px;
}
}

@keyframes move {
from {
background-position-x: 0;
}
to {
background-position-x: 10px;
}
}
@-webkit-keyframes travel {
0% {
opacity: 0;
-webkit-transform: translateX(300px) rotateZ(0deg) scaleY(1);
  transform: translateX(300px) rotateZ(0deg) scaleY(1);
}
6.5% {
-webkit-transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
  transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
}
8.8% {
-webkit-transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
  transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
}
10% {
opacity: 1;
-webkit-transform: translateX(270px) rotateZ(0deg);
  transform: translateX(270px) rotateZ(0deg);
}
17.6% {
-webkit-transform: translateX(247.2px) rotateZ(-30deg);
  transform: translateX(247.2px) rotateZ(-30deg);
}
45% {
-webkit-transform: translateX(165px) rotateZ(-30deg);
  transform: translateX(165px) rotateZ(-30deg);
}
49.5% {
-webkit-transform: translateX(151.5px) rotateZ(-45deg);
  transform: translateX(151.5px) rotateZ(-45deg);
}
61.5% {
-webkit-transform: translateX(115.5px) rotateZ(-45deg);
  transform: translateX(115.5px) rotateZ(-45deg);
}
67% {
-webkit-transform: translateX(99px) rotateZ(-60deg);
  transform: translateX(99px) rotateZ(-60deg);
}
76% {
-webkit-transform: translateX(72px) rotateZ(-60deg);
  transform: translateX(72px) rotateZ(-60deg);
}
83.5% {
opacity: 1;
-webkit-transform: translateX(49.5px) rotateZ(-90deg);
  transform: translateX(49.5px) rotateZ(-90deg);
}
90% {
opacity: 0;
}
100% {
opacity: 0;
-webkit-transform: translateX(0px) rotateZ(-90deg);
  transform: translateX(0px) rotateZ(-90deg);
}
}
@keyframes travel {
0% {
opacity: 0;
-webkit-transform: translateX(300px) rotateZ(0deg) scaleY(1);
  transform: translateX(300px) rotateZ(0deg) scaleY(1);
}
6.5% {
-webkit-transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
  transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
}
8.8% {
-webkit-transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
  transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
}
10% {
opacity: 1;
-webkit-transform: translateX(270px) rotateZ(0deg);
  transform: translateX(270px) rotateZ(0deg);
}
17.6% {
-webkit-transform: translateX(247.2px) rotateZ(-30deg);
  transform: translateX(247.2px) rotateZ(-30deg);
}
45% {
-webkit-transform: translateX(165px) rotateZ(-30deg);
  transform: translateX(165px) rotateZ(-30deg);
}
49.5% {
-webkit-transform: translateX(151.5px) rotateZ(-45deg);
  transform: translateX(151.5px) rotateZ(-45deg);
}
61.5% {
-webkit-transform: translateX(115.5px) rotateZ(-45deg);
  transform: translateX(115.5px) rotateZ(-45deg);
}
67% {
-webkit-transform: translateX(99px) rotateZ(-60deg);
  transform: translateX(99px) rotateZ(-60deg);
}
76% {
-webkit-transform: translateX(72px) rotateZ(-60deg);
  transform: translateX(72px) rotateZ(-60deg);
}
83.5% {
opacity: 1;
-webkit-transform: translateX(49.5px) rotateZ(-90deg);
  transform: translateX(49.5px) rotateZ(-90deg);
}
90% {
opacity: 0;
}
100% {
opacity: 0;
-webkit-transform: translateX(0px) rotateZ(-90deg);
  transform: translateX(0px) rotateZ(-90deg);
}
}

.text-load{
  text-align: center;
  font-size: 34px;
  margin-top: 23px;
  color: #1e6cc7;
  margin-left: 99px;
}
/* end of loader ========================================================================== */


/* navigation loader*/

.loading-outer-overlay{
  height: 100vh;
  width: 100vw;
  background: #08080887;
  display: list-item;
  position: fixed;
  z-index: 1;
}
.loading-overlay{
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.loader {
  border: 16px solid #8e8576;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* panel-css */

.add-plan{
  margin-top:45px;
}


.add-plan .panel-footer{
  background-color: #f5f5f500;
  border-top: 1px solid #c7c2c7;
}

.btn-default:focus {
  color: white;
  background-color: #259be5;
  border-color: #259be5;
}
.btn-empty{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    color: #ffffff;
    background-color: #259be5;
    border-color: #1ea5e9;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(233, 30, 99, 0.6);
}
.btn-empty[disabled]:hover{
  border-color: #ffffff;
  color: white;
  background: #259be5;
}

.btn-empty:hover{
  border-color: #ffffff;
  color: white;
  background: forestgreen;
}

.btn:active:focus, .btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.btn:focus{
outline: 0px auto -webkit-focus-ring-color;
outline-offset: 0px;
}


.btn-green{
  border-radius: 50%;
  width: 62px;
  height: 62px;
  color: white;
  background-color: #4cae4c;
  border-color: #4cae4c;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(233, 30, 99, 0.6)
}

.btn-green:hover{
  color: white;
  background-color: #4cae4c;
  border-color: #4cae4c;
}


.btn-add{
  background-color: #563d7c;
  border-color: #563d7c;
  margin-top: -8px;
  color: white;
}

.search input[type=text]{
 padding: 8px!important;
}

.search input[type=text]:focus {
  border-color: #293f53;
  box-shadow: 0 0 0 3px rgba(121,82,179,.25);
}


.btn-close{
  border-radius: 50%;
  width: 62px;
  height: 62px;
  color: #ffffff;
  background-color: #cf3238;
  border-color: #cf3238;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(233, 30, 99, 0.6)
}

.btn-close:hover{
color:white;
background-color: #00C9FF;
}

.color4{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;  
  color:white;
}

.sub-title{
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: brown;
}

.sub-title:hover{
text-decoration: underline;
color: brown;
}

.base-color{
  background: #fa5252;
  color: white;
  border: #fa5252;
}

.form-border{
  border: 1px solid #fa5252;
}

.base-color2{
  background: #7f92a0;
  color: white;
  border: #7f92a0;
}

.base-color3{
  background: #7f92a0;
  color: white;
  border: #7f92a0;
}

.border-color>tbody>tr>td{
  border-top: 1px solid #ddd;
}

.btn-ghost{
  border-color: #3387db;
}

.btn-ghost:hover,.btn-ghost:active,.btn-ghost:focus,.btn-ghost:visited{
  color: white;
  background-color: #3387db;
  border-color: #3387db;
}

.btn-fault{
  border-color: #cccccc;
}

.btn-fault:hover,.btn-fault:active,.btn-fault:focus,.btn-fault:visited{
  color: black;
  background-color:#3387db;
  border-color: #3387db; 
}
/* panel-css */


.header-background>tr>th{
  padding:3px;
}

.table-data a{
  color: #563d7c;
  cursor: pointer;
}

.table-data .icon{
  color: #563d7c;
  cursor: pointer;
}