<div class="container-fluid">
  <div class="panel add-plan" id="add-plan" style="display:none;">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1" class="accordion-toggle">Add Strategic Plan</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <form [formGroup]="cycleForm" (submit)="onSubmit()">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="year">Plan Year:</label>
                <select id="year" name="year" class="form-control" style="width:auto;" formControlName="planYear">
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" formControlName="description"></textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="year">From Year:</label>
                <select id="from-year" name="from-year" class="form-control" style="width:auto;" formControlName="startYear">
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="year">To Year:</label>
                <select id="to-year" name="to-year" class="form-control" style="width:auto;" formControlName="endYear">
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="checkbox-inline">
                <input type="checkbox" value="" formControlName="active">
                <b>Active</b>
              </label>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button type="submit" class="btn btn-default btn-empty" [disabled]="cycleForm.invalid">
            <i class="glyphicon glyphicon-ok"></i>
          </button>
          <button type="button" class="btn btn-danger btn-close" data-toggle="tooltip" data-placement="auto" title="Reset Form" (click)="reset()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
          <div class="pull-right" *ngIf="isUpdating">
          <button type="button" class="btn btn-default btn-ghost">Make it Default</button>
          <button type="button" class="btn btn-default btn-fault">Make it Disable</button>
          <button type="button" class="btn btn-default btn-del" (click)="deleteCycle(selectedCycle.cycleId)">Delete</button>   
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel detail-plan">
    <div class="panel-heading">
      <h4 class="panel-title">
        <!-- new code -->
        <div class="button__holder">
            <button class="plus"  (click)="addNewPlan()"></button>
        </div>

        <!-- end -->
        <!-- <button type="button" class=" btn btn-default btn-add pull-right" (click)="addNewPlan()">
          <span class="glyphicon glyphicon-plus"></span>
        </button> -->
      </h4>
    </div>
    <div class="panel-body">
      <table class="table table-bordered  table-data">
        <thead class="header-background">
          <tr>
            <th>Plan Year</th>
            <th>From Year</th>
            <th>End Year</th>
            <th>Description</th>
            <th>Disabled</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cycles;let y = index;">
            <td>{{c.planYear}}</td>
            <td>{{c.startYear}}</td>
            <td>{{c.endYear}}</td>
            <td>{{c.description}}
              <span class="pull-right" style="color:green" *ngIf="c.defaultCycle">*default</span>
            </td>
            <td>
              <input type="checkbox" [checked]="c.disable" (change)="changeStatus($event,c)">
            </td>
            <td>
              <a (click)="deleteCycle(c.cycleId)">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </td>
            <td>
              <a (click)="editCycle(c)">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>