<div class="container-fluid">
  <button type="button" class="btn btn-default pull-right margin" (click)="addNewPlan()" style="margin-top:24px;margin-bottom:10px;">
    <i class="glyphicon glyphicon-plus"></i>
  </button>
  <!-- new code for form-->
  <div class="card card-form" id="add-plan" style="display:none">
    <form [formGroup]="cycleForm" (submit)="onSubmit()">
      <div class="card-header">
        <button type="button" class="close" aria-label="Close" data-toggle="tooltip" data-placement="auto" title="Reset Form" (click)="reset()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>ADD STRATEGIC PLAN</h4>
      </div>
      <div class="card-body" style="margin-left:15px;">
        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters making it look like readable
          English. </p>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="year">Plan Year:</label>
              <select id="year" name="year" class="form-control" formControlName="planYear">
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="year">From Year:</label>
              <select id="from-year" name="from-year" class="form-control" formControlName="startYear">
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="year">To Year:</label>
              <select id="to-year" name="to-year" class="form-control" formControlName="endYear">
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea class="form-control" id="description" name="description" formControlName="description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-default btn-sub pull-right" [disabled]="cycleForm.invalid">
          SUBMIT
        </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="card table-card">
    <table class="table table-bordered  table-data">
      <colgroup>
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="40%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <thead class="center">
        <tr>
          <th>Plan Year</th>
          <th>From Year</th>
          <th>End Year</th>
          <th>Description</th>
          <th>Enable</th>
          <th>Default</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cycles;let y = index;">
          <td>{{c.planYear}}</td>
          <td>{{c.startYear}}</td>
          <td>{{c.endYear}}</td>
          <td>{{c.description}}</td>
          <td class="text-center">
            <label class="switch">
              <input type="checkbox" [checked]="c.disable" (change)="changeStatus($event,c)">
              <span class="slider round"></span>
            </label>
            <!-- <input type="checkbox" [checked]="c.disable" (change)="changeStatus($event,c)">
            <span style="color:red" *ngIf="c.disable">*disabled</span> -->
          </td>
          <td>
             <span class="icon-mark"><i class="glyphicon glyphicon-exclamation-sign"></i></span>
             <span class="icon-mark2"><i class="glyphicon glyphicon-ok-sign"></i></span>
            <!-- <input type="checkbox" [checked]="c.defaultCycle" [disabled]="c.defaultCycle" [disabled]="c.disable" (change)="defaultCycle($event,c.cycleId)">
            <span style="color:green" *ngIf="c.defaultCycle">*default</span> -->
          </td>
          <td>
            <button class="btn-link btn-del" (click)="deleteCycle(c.cycleId)" type="button" [disabled]="c.disable">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
          </td>
          <td>
            <button class="btn-link btn-del" type="button" (click)="editCycle(c)" [disabled]="c.disable">
              <i class="glyphicon glyphicon-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>